{# src/GoTBundle/Resources/views/Season/list.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}Lista de Temporadas{% endblock %}

{% block slider %}
<h3> Lista de Temporadas de Juego de Tronos</h3>
<p>― Todas las disponibles</p> 
{% endblock %}

{% block body %}

<div class="testimonial-section" id="testimonial">
    <div class="container">
        <div class="testimonial-header">
                                
            <h3>Diferentes <span> temporadas</span></h3>
            <p>Clicka las flechas para transicionar</p>
        </div> 
        <div class="wmuSlider example1">
            <div class="container-flueid">
                {% for season in seasons %}
                <article style="position: absolute;"> 
                <div class=" cont span_2_of_3  client-main">
                    <div class="slide-text">
                        <h4> {{ season.name }}</h4>
                        <p><a href="{{ path('blogger_season_show', {'id': season.id}) }}">Más info</a></p>
                    </div>
                </div>
                </article>
                {% endfor %}
                
                 
                  <script src="{{ asset('js/jquery.wmuSlider.js') }}"></script> 
                    <script>
                         $('.example1').wmuSlider();         
                    </script>   
                        <div class="clearfix"> </div>
             </div>
         </div>
     </div>
     </div>

     {% endblock %}